.font-title {
    font-family: 'Skranji', cursive;
    font-size: 320%;
    color: #211719;
}

.font-subtitle {
    font-family: 'Skranji', cursive;
    color: #38292d;
}

.bg-bg {
    background-color: #d69e63;
    width: 100%;
    border: solid #211719;
}

.bg-inside {
    background-color: #edc590;
}

body, html {
    height: 100%;
    margin: 0;
}

.parallax {
    background-image: url("bg.jpg");

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
}